<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% programs.forEach(function(program){ %> <%- include('users/show',
      {program:program}); %> <% }); %>
    </ul>
  </body>
</html>
